                                              <!-- {% for line in subtotal_line_items %}
                                            <tr class="product" style="background-color: #faf9f9;">
                                              <td class="image" colspan="1" style="padding: 10px 0 10px 10px;">
                                                <a href="https://vapeyolo.co.uk{{ line.url }}" style="display: block; width: 100%; ">
                                                  <img alt="{{ line.title }}" src="{{ line.image | img_url: 'medium' }}" style="width:100%;display:block;" />
                                                </a>
                                              </td>
                                              <td colspan="3" style="padding:15px 0 10px 10px;" align="top">
                                                <a href="https://vapeyolo.co.uk{{line.url }}" style="text-decoration:none;">
                                                  <span style="color: #000000;
                                                  font-family: Helvetica;
                                                  font-size: 15px;
                                                  font-weight: bold;
                                                  letter-spacing: 0;
                                                  line-height: 20px;display:block;" class="m-med-para"> Yolo Bar
                                                  </span>
                                                  <span style=" color: #757575;
                                                  font-family: Helvetica;
                                                  font-size: 15px;
                                                  letter-spacing: 0;
                                                  line-height: 20px;
                                                  font-weight: bold;
                                                  display: block;" class="m-med-para"> Flavour: {{ line.title }}
                                                  </span>
                                                </a>
                                              </td>
                                              <td class="qty" colspan="1" valign="top" style="padding: 10px;text-align: center;">
                                                <span class="m-med-para" style="font-size:16px;line-height:27px;color:#000;font-family: Helvetica; font-weight: 600; ">QTY: {{ line.quantity }}</span>
                                              </td>
                                              <td class="end" colspan="1" valign="top" style="padding: 10px 0;text-align: center;">
                                                <span class="m-med-para" style="font-size:16px;line-height:27px;color:#000; font-family: Helvetica; font-weight: 600; "> {% if line.final_line_price > 0 %} <span class="m-med-para" style="font-size:16px;line-height:27px;color:#000; font-family: Helvetica; font-weight: 600;">
                                                    {{ line.final_line_price | money }} </span> {% else %} Free {% endif %} {% if line.original_line_price != line.final_line_price %} <del class="order-list__item-original-price">
                                                    <span class="m-med-para" style="font-size:16px;line-height:27px;color:#000; font-family: Helvetica; font-weight: 600;">
                                                      {{ line.original_line_price | money }}</span>
                                                  </del> {% endif %} </span>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td style="background-color: #fff; padding: 5px;"></td>
                                            </tr> {% endfor %} -->